<p id="notice"><%= notice %></p>

<p>
  <strong>Ad:</strong>
  <%= @post.Ad %>
</p>

<p>
  <strong>Soyad:</strong>
  <%= @post.Soyad %>
</p>

<p>
  <strong>Yas:</strong>
  <%= @post.Yas %>
</p>
<p>
  <strong>Adress:</strong>
  <%= @post.Adress %>
</p>

<%= link_to 'Güncelle', edit_post_path(@post) %> |
<%= link_to 'Geri', posts_path %> |
<%=link_to 'Sil',@post ,:method=> :delete,:confirm =>"Emin misiniz?" %>
